:root {
  --bs-body-font-family: 'Montserrat', sans-serif;
  --bs-heading-font-family: 'Poppins', sans-serif;
  --color_black: #221f1f;
  --color_black--rgb: 34, 31, 31;
  --color_gold: #d49668;
  --color_goldLight: #D49668;
  --color_gold--rgb: 212, 150, 104;
  --color_white: #ffffff;
  --color_lightGray: #ccc;
}

body {
  font-family: var(--bs-body-font-family);
  font-weight: normal;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: var(--bs-heading-font-family);
  font-weight: 600;
  font-style: normal;
}

.btn {
  font-family: var(--bs-body-font-family);
  font-weight: normal;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn .bi {
  margin-right: 5px;
}

.btn-gold-border {
  color: var(--color_white);
  padding: 0.95rem 2.5rem;
  border-radius: 2rem;
  border: 2px solid var(--color_gold);
}

.btn-gold-border:hover {
  background-color: var(--color_goldLight);
  color: var(--color_white);
  border-color: rgba(var(--color_gold--rgb), 1);
  box-shadow: inset 6.5em 0 0 0 rgba(0, 0, 0, 0);
}

.btn-gold-border:focus,
.btn-gold-border:active {
  background-color: var(--color_goldLight);
  --bs-btn-active-color: var(--color_white);
  --bs-btn-active-border-color: rgba(var(--color_gold--rgb), 1);
}

.btn-white-border {
  color: var(--color_white);
  padding: 0.95rem 2.5rem;
  border-radius: 2rem;
  border: 2px solid var(--color_white);
}

.btn-white-border:hover {
  color: var(--color_black);
  background-color: var(--color_white);
  border-color: rgba(var(--color_white--rgb), 1);
  box-shadow: inset 6.5em 0 0 0 rgba(0, 0, 0, 0);
}

.btn-white-border:focus,
.btn-white-border:active {
  background-color: var(--color_black);
  --bs-btn-active-color: var(--color_white);
  --bs-btn-active-border-color: rgba(var(--color_black--rgb), 1);
}

.color-black {
  color: var(--color_black);
}

/*=====================================
  Navbar Style Start
=====================================*/
.navbar {
  background-color: var(--color_black);
}

.navbar .navbar-nav {
  --bs-nav-link-font-weight: 400;
  --bs-nav-link-color: rgba(var(--color_gold--rgb), 0.75);
  --bs-nav-link-hover-color: var(--color_gold);
  --bs-navbar-active-color: var(--color_gold);
}

.navbar .navbar-brand .navbar-logo {
  max-height: 40px;
}

.navbar .nav-link {
  --bs-nav-link-font-size: 14px;
  --bs-nav-link-font-weight: 400;
  text-transform: uppercase;
}

.navbar .dropdown-item {
  font-size: 14px;
  font-weight: normal;
  text-transform: uppercase;
  --bs-dropdown-link-active-bg: rgba(var(--color_gold--rgb), 0.5);
  color: var(--color_black);
}

/*=====================================
  Navbar Style End
=====================================*/
/*!==========================================================================*/
/*=====================================
  Hero Section Style Start
=====================================*/
.hero {
  background-image: url('../img/fr.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  height: calc(100vh - var(--header-height));
  z-index: 1;
  position: relative;
}

.hero::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: rgba(var(--color_black--rgb), 0.5);
  z-index: -1;
}

.contact-form {
  border: 2px solid var(--color_gold);
  padding: 40px 60px;
}

/*=====================================
  Hero Section Style End
=====================================*/
/*!==========================================================================*/
/*=====================================
  Our Services Section Start
=====================================*/

.our-services {
  background: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0.9)), url("../img/cta-bg.jpg") fixed center center;
}

.our-services-container {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  overflow: hidden;
}

.our-services-container .swiper-slide {
  max-width: calc(100% / 3);
  border: none;
  box-shadow: 0 0 20px rgba(var(--color_black--rgb), 0.15);
}

.our-services-container .swiper-slide .card-link {
  color: var(--color_gold);
  text-decoration: none;
}

.swiper-pagination .swiper-pagination-bullet {
  background-color: transparent;
  opacity: 1;
  border: 1px solid var(--color_gold);
}

.swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: var(--color_gold);
}

/*=====================================
  Our Services Section End
=====================================*/
/*!==========================================================================*/
/*=====================================
  Logos Section End
=====================================*/
.marquee {
  --space: 1rem;
  --duration: 1s;
  --gap: var(--space);

  display: flex;
  overflow: hidden;
  user-select: none;
  gap: var(--gap);
}

.marquee__group {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: var(--gap);
  min-width: 100%;
  animation: scroll var(--duration) linear infinite;
}

.marquee__group .logo {
  max-width: 150px;
}

@media (prefers-reduced-motion: reduce) {
  .marquee__group {
    animation-play-state: paused;
  }
}

.marquee--borders {
  padding-block: 0.75rem;
}

.marquee--reverse .marquee__group {
  animation-direction: reverse;
  animation-delay: calc(var(--duration) / -2);
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-100% - var(--gap)));
  }
}

/*=====================================
  Logos Section End
=====================================*/
/*!==========================================================================*/
/*=====================================
  Testimonials Section Start
=====================================*/

.testimonials {
  overflow: hidden;
}

.testimonials__container {
  padding: 50px;
}

.testimonials__container .row {
  box-shadow: 0 0 50px rgba(var(--color_black--rgb), 0.15);
}

.testimonials__container .row {
  align-items: stretch;
}

.testimonials__video {
  max-width: 100%;
  height: 100%;
  min-height: 100%;
  object-fit: cover;
}

.testimonials__col {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  max-height: 80vh;
  height: 520px;
}

.testimonials__col .testimonials__coma {
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.testimonials__col .testimonials__coma::after {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 90%;
  width: 1px;
  background-color: var(--color_lightGray);
}

.testimonials__col .testimonials__coma .bi {
  font-size: 6rem;
  color: var(--color_lightGray);
  background-color: var(--color_white);
  z-index: 1;
}

.testimonials__col .testimonials__colWrap {
  max-width: calc(100% - 200px);
  padding: 100px 50px 100px 0;
  position: relative;
  display: flex;
  align-items: center;
}

.testimonials__note {
  position: absolute;
  left: 0;
  top: 0;
  transform: translateY(100%);
  font-size: 1rem;
  font-family: var(--bs-heading-font-family);
  font-weight: 600;
  line-height: 2;
  letter-spacing: 0.02em;
  color: rgba(var(--color_black--rgb), 0.5);
}

.testimonials__heading {
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1.25;
  color: var(--color_black);
  letter-spacing: 0.02em;
}

.testimonials__para {
  font-family: var(--bs-body-font-family);
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
}

.testimonials__author {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-end;
}

.testimonials__authorBy {
  font-family: var(--bs-body-font-family);
  font-weight: 400;
  font-style: italic;
  font-size: 1rem;
  color: rgba(var(--color_black--rgb), 0.5);
  line-height: 1;
  display: block;
  margin-right: 1em;
}

.testimonials__authorName {
  font-style: italic;
  font-size: 1rem;
  color: rgba(var(--color_black--rgb), 1);
  line-height: 1;
  display: block;
  margin-bottom: 0;
}

/*=====================================
  Testimonials Section End
=====================================*/
/*!==========================================================================*/
/*=====================================
  Brochure Section Start
=====================================*/

.brochure {
  background: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0.9)), url("../img/cta-bg.jpg") fixed center center;
  padding: 100px 0;
}

/*=====================================
  Brochure Section End
=====================================*/
/*!==========================================================================*/
